.slideshow {
  display: flex;
  align-items: center;
  padding: 0px 8vw;
}

.prev,
.next {
  cursor: pointer;
  position: relative;
  width: auto;
  padding: 16px;
  color: #2a2d3e;
  font-weight: 500;
  font-size: 40px;
  transition: 0.6s ease;
  user-select: none;
  margin-top: 1.5rem;
}

.prev {
  border-radius: 5px 0 0 5px;
}

.next {
  border-radius: 0 5px 5px 0;
}

.prev:hover,
.next:hover {
  background-color: #fae7c4cc;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 5px 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active {
  cursor: pointer;
  height: 22px;
  width: 22px;
  margin: 0 25px;
  border-radius: 50%;
  border: 5px solid #f44d8a;
  display: inline-block;
}

.dot:hover {
  background-color: #979494;
}

/* using max-width 1024 causes weird behavior at exactly 1024px ??? */
@media (max-width: 1023px) {
  .slideshow {
    padding: 0;
  }
}
