.timerContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  max-width: 1000px;
  box-sizing: border-box;
}

ul.timer {
  list-style: none;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 200px;
}

ul.timer span {
  display: block;
}

ul.timer > li {
  width: 220px;
  margin: 20px 20px;
}

.countdownLabel:before {
  content: "";
  margin-left: -100%;
}
.countdownLabel:after {
  content: "";
  margin-right: -100%;
}

.countdownLabel {
  font-size: xx-large;
}

.countdownNum {
  background-color: grey;
  padding: 2rem;
  margin: 0 auto;
  font-size: xx-large;
  border-radius: 1rem;
  width: 50px;
  height: 50px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* Put higher max widths first */

@media (max-width: 1024px) {
  .countdownNum {
    padding: 1rem;
    font-size: x-large;
    border-radius: 1rem;
    width: 65px;
    height: 65px;
    box-sizing: content-box;
  }

  .countdownLabel {
    font-size: x-large;
  }

  ul.timer > li {
    width: 120px;
    margin: 10px 10px;
  }
}

@media (max-width: 600px) {
  .countdownNum {
    padding: 1rem;
    font-size: large;
    border-radius: 1rem;
    width: 40px;
    height: 40px;
    box-sizing: content-box;
  }

  .countdownLabel {
    font-size: large;
  }

  ul.timer > li {
    width: 80px;
    margin: 10px 10px;
  }
}
