.timerContainer {
  width: 100%;
  margin: 0 auto 3rem auto;
  padding: 3rem;
  max-width: 1000px;
  box-sizing: border-box;
}

ul.timer {
  list-style: none;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 200px;
}

ul.timer span {
  display: block;
}

ul.timer > li {
  width: 220px;
  margin: 20px 20px;
}

.labelDays,
.labelHours,
.labelMinutes {
  font-size: xx-large;
}

.days,
.hours,
.minutes {
  background-color: grey;
  padding: 2rem;
  margin: 0 auto;
  font-size: xx-large;
  border-radius: 1rem;
  width: 50px;
  height: 50px;
  box-sizing: content-box;
}
