.hero {
  min-height: 100vh;
  padding-top: 6rem;
  display: flex;
  justify-content: center;

  background: bottom/contain no-repeat url("../public/images/mountains.svg"),
    top/cover no-repeat url("../public/images/clouds.svg"),
    linear-gradient(
      #39251f 14.53122%,
      #624422 33.75%,
      #7e5a24 43.59375%,
      #f4b42c 74.53125%,
      #ffd99f 90%
    );
}

.mainInfoContainer {
  margin-top: 4rem;
  max-width: 80%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 30%);
  border-radius: 2rem;
}

.logoContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -4%;
  overflow: visible;
}

.logoContainer span {
  overflow: visible !important;
  overflow-y: hidden;
}

.mainInfoContainer img {
  /* TODO(salma) REMOVE WHEN WE ACTUALLY HAVE THE TRANSPRENT GIF */
  mask: url("../public/images/LogoMask.png");
  mask-size: contain;
  transform: scale(1.3);
}

.flag {
  display: inline-block;
}

.subheading {
  position: relative;
  text-align: center;
  font-size: 24pt;
  margin: 2rem 0 2rem 0;
  z-index: 100;
}

.headerText {
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
  font-size: xx-large;
  vertical-align: top;
  font-weight: bold;
}

a.mailto {
  text-decoration: underline;
}

a.mailto:hover {
  color: #ffba44;
}

.aboutContainer {
  background-color: #e9c681;
  min-height: 30vh;
  padding: 2vh 2vw 3vh 2vw;
}

.aboutFlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
}

.aboutBlock {
  flex-grow: 1;
  margin: 1vh 1vw;
  width: 250px;
  max-width: 250px;
}

.groupPic {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: auto;
}

.aboutContainer p,
.aboutContainer h2 {
  color: black;
  text-align: center;
  margin: 0;
}

.aboutContainer h2 {
  font-weight: bolder;
}

.aboutImageContainer {
  width: 60%;
  height: 40%;
  margin: 0 auto;
}

.aboutImage:hover {
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(0px 8px 5px #222);
}

.aboutImageContainer > span {
  overflow: visible;
}

.rightColumn {
  width: 100%;
  padding-left: 10%;
}

.contacts li {
  display: inline-block;
  margin: 0.5rem;
  width: 100%;
}

.contacts li > a {
  padding-bottom: 1rem;
  text-decoration: underline;
  vertical-align: top;
  padding-top: 0.75rem;
  display: inline-block;
  font-size: larger;
}

.footer {
  padding: 3rem 0;
  text-align: center;
  background-color: #ffba44;
}

.contacts li > a:hover {
  color: #ffba44;
}

.contactsLink {
  padding: 0 1rem;
}

.discord {
  display: block;
  margin-left: -0.25rem;
}
