/* Mobile Devices */
@media screen and (max-width: 768px) {
}

@media screen and (min-width: 768px) {
  .twoColumns {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: [first] 50% [line2] 50% [end];
    gap: 0;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    margin: 4rem 2% 0 2%;
  }

  .aboutContainer {
    padding: 0 5%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1232px) {
  .main {
    margin: 4rem 5% 0 5%;
  }

  .aboutContainer {
    padding: 0 5%;
  }
}

@media screen and (min-width: 1232px) and (max-width: 1440px) {
  .main {
    margin: 4rem 10% 0 10%;
  }

  .aboutContainer {
    padding: 0 5%;
  }
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .main {
    margin: 4rem 15% 0 15%;
  }

  .aboutContainer {
    padding: 0 5%;
  }
}

@media screen and (min-width: 2560px) {
  /* Edge case for 4k monitors */
}

/* General */

.main {
  min-height: 100vh;
  padding: 4rem 0 4rem 0;
}

.main h1 {
  text-align: center;
}

.flag {
  display: inline-block;
}

.logoContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.subheading {
  text-align: center;
  font-size: large;
  margin: 2rem 0 3rem 0;
}

.headerText {
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
  font-size: xx-large;
  vertical-align: top;
  font-weight: bold;
}

a.mailto {
  text-decoration: underline;
}

a.mailto:hover {
  color: #ffba44;
}

.aboutContainer {
  background-color: #e9c681;
  min-height: 30vh;
  padding: 2vh 2vw 3vh 2vw;
}

.aboutFlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
}

.aboutBlock {
  flex-grow: 1;
  margin: 1vh 1vw;
  width: 250px;
  max-width: 250px;
}

.groupPic {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: auto;
}

.aboutContainer p, .aboutContainer h2 {
  color: black;
  text-align: center;
  margin: 0;
}

.aboutContainer h2 {
  font-weight: bolder;
}

.aboutImageContainer {
  width: 60%;
  height: 40%;
  margin: 0 auto;
}

.aboutImage:hover {
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(0px 8px 5px #222);
}

.aboutImageContainer > span {
  overflow: visible;
}

.contacts {
  width: 100%;
  padding-left: 10%;
}

.contacts li {
  display: inline-block;
  margin: 0.5rem;
  width: 100%;
}

.contacts li > a {
  padding-bottom: 1rem;
  text-decoration: underline;
  vertical-align: top;
  padding-top: 0.75rem;
  display: inline-block;
  font-size: larger;
}

.footer {
  padding: 3rem 0;
  text-align: center;
  background-color: #ffba44;
}

.contacts li > a:hover {
  color: #ffba44;
}

.contactsLink {
  padding: 0 1rem;
}

.discord {
  display: block;
  margin-left: -0.25rem;
}
