nav.navbar {
  position: fixed;
  width: 100%;
  display: inline;
  background-color: #31221b;
  border-bottom: 3px solid black;
  top: 0;
}

.navbar > ul {
  list-style: none;
  display: inline;
  padding: 0;
}

.navbar > ul > li {
  display: inline;
  float: right;
  padding: 1.25rem;
}

.navbar > ul > li:hover {
  color: black;
  text-decoration: underline;
  background-color: #ffba44;
}

.navbar > ul > li.discord {
  background-color: #f44d8a;
}

.navbar > ul > li.discord:hover {
  color: white;
}
