.sponsorsFlexContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0 3rem 0;
  padding: 0 10vw;
  width: 100%;
}

.icon {
  position: relative;
  width: calc(50% - 1rem);
  padding: 20px;
  margin: 0.5rem 0.5rem;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.icon > figure {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: visible;
}

.icon > figure > img.logo {
  margin: auto;
  height: 6.25em;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  filter: drop-shadow(0px 0px 10px #fff);
}

.icon > figure > .flag {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  width: 36%;
  height: 50%;
  margin: -14px -22px 0 0;
  pointer-events: none;
  user-select: none;
  opacity: 99%;
}

.icon > figure > .flag > img {
  height: 100%;
  image-rendering: optimizequality;
}

.blurb {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: black;
}

@media (max-width: 840px) {
  .icon {
    padding: 10px;
    width: 100%;
  }

  .icon > figure > .flag {
    margin: -7px -11px 0 0;
  }

  .blurb {
    font-size: 16px;
  }
}
